@model UserModel
@{
    Layout = "_AdminLayout";
}
<h3 class="mt-3">User Create</h3>
<hr>

<form asp-controller="User" as-action="UserCreate" method="post">
    <div class="row">
        <div class="col-md-8">
            <div class="mb-3">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="RePassword"></label>
                <input asp-for="RePassword" class="form-control">
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>

        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label asp-for="Url"></label>
                <input asp-for="Url" class="form-control">
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="BirthYear"></label>
                <input asp-for="BirthYear" class="form-control">
                <span asp-validation-for="BirthYear" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>