@model HomeMovieModel
<!-- content -->

@* <div>

	<partial name="_navbar" />
	</div> *@
<!-- home -->
<div>

	@await Html.PartialAsync("_slyte",Model.HomeSlyderModel)
</div>
<!-- end home -->
<section class="content">
	<div class="content__head">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- content title -->
					<h2 class="content__title">New items</h2>
					<!-- end content title -->

					<!-- content tabs nav -->
					<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1"
								aria-selected="true">NEW RELEASES</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
								aria-selected="false">MOVIES</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3"
								aria-selected="false">TV SERIES</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4"
								aria-selected="false">CARTOONS</a>
						</li>
					</ul>
					<!-- end content tabs nav -->

					<!-- content mobile tabs nav -->
					<div class="content__mobile-tabs" id="content__mobile-tabs">
						<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<input type="button" value="New items">
							<span></span>
						</div>

						<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab"
										href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">NEW
										RELEASES</a></li>

								<li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2"
										role="tab" aria-controls="tab-2" aria-selected="false">MOVIES</a></li>

								<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3"
										role="tab" aria-controls="tab-3" aria-selected="false">TV SERIES</a></li>

								<li class="nav-item"><a class="nav-link" id="4-tab" data-toggle="tab" href="#tab-4"
										role="tab" aria-controls="tab-4" aria-selected="false">CARTOONS</a></li>
							</ul>
						</div>
					</div>
					<!-- end content mobile tabs nav -->
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<!-- content tabs -->
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
				<div class="row">
					@* <partial name="_movie" ,Model.HomePageModel/> *@
					@await Html.PartialAsync("_movie",Model.HomePageModel)
				</div>
			</div>
		</div>
		<!-- end content tabs -->
	</div>


</section>
<!-- end content -->