<div class="container" style="margin-top: 120px;">
    <!-- content tabs -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
            <div class="row">
                <partial name="_movie" />
            </div>
        </div>
    </div>
    <!-- end content tabs -->
</div>
